{{! The big featured header }}
<header id="header">
    <nav class="header-nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}}){{/if}}">

      <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
      <ul id="taglist" class="taglist">
          {{#foreach @blog.navigation}}
            <li><a href="{{this.url}}">{{label}}</a></li>
          {{/foreach}}
      </ul>
    </nav>
</header>